@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        letter-spacing: 0.02em;
    }
}

@layer utilities {
    .letter-spacing-wide {
        letter-spacing: 0.05em;
    }
}